@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300,300i,400,400i,700,700i');

body {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	background-color: #fff;
	color: #000;
	font-size: 11pt;
	padding: 0px;
	margin: 40px;
}
body.bg {
	background-color: #fdfdfd;
	margin: 0px;
}
div.body {
	position: absolute;
	width: 100%;
	min-height: 100%;
	left: 0px;
	margin-left: 0px;
	background-color: #fff;
	padding: 40px;
	padding-top: 0;
	box-sizing: border-box;
}
@media (min-width:960px) {
	div.body {
		width: 940px;
		left: 50%;
		margin-left: -470px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		box-shadow: 0px 0px 12px 0px #eee;
	}
}
div.page {
	width: 100%;
}
div.page :first-child {
	margin-top: 0;
}


button#upBtn {
	display: none;
	position: fixed;
	top: 0;
	right: 20px;
	border: 1px solid #ddd;
	border-top: none;
	background-color: #fff;
	color: #000;
	cursor: pointer;
	font-size: 14pt;
	padding: 0;
	padding-bottom: 4px;
	width: 40px;
	z-index: 99;
	box-shadow: 0px 0px 8px 0px #ddd;
}
@media (min-width:1120px) {
	button#upBtn {
		right: 50%;
		margin-right: -530px;
	}
}

div.nav {
	background-color: #fdfdfd;
	font-size: 9pt;
	border-bottom: 1px solid #ddd;
	margin-left: -40px;
	margin-right: -40px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
}
div.summary {
	margin-top: 40px;
	margin-bottom: 40px;
}
div.member {
	border-top: 1px solid #bbb;
	margin-top: 36px;
	padding-top: 24px;
	margin-left: -40px;
	margin-right: -40px;
	padding-left: 40px;
	padding-right: 40px;
}

a {
	color: #07f;
	text-decoration: none;
}
a:hover {
	color: #07f;
	text-decoration: underline;
}
a.extern {
	color: #999;
}
a.alink {
	color: inherit;
}
a.toplink {
	color: inherit;
	text-decoration: inherit;
}
a[name] {
	color: inherit;
	text-decoration: inherit;
}

h1 {
	font-size: 28pt;
	font-weight: 300;
	color: #000;
	margin: 40px 0px;
	padding: 0;
	line-height:1;
	padding-left:24px;
	text-indent:-24px;
}
h1.smaller {
	font-size: 22pt;
}
h2 {
	font-size: 18pt;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 12px;
}
h3 {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 36px;
	margin-bottom: 20px;
}

h4 {
	font-size: 14pt;
	font-weight: normal;
	margin-top: 18px;
	margin-bottom: 8px;
}
h5 {
	font-size: 12pt;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
}

p {
	text-align: justify;
	margin: 8px 0px;
}
p.ind {
	margin-left: 24px;
}
p.since {
	color:#777;
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
	font-size: 9pt;
	text-align: right;
}

blockquote {
	margin: 16px 0px;
	padding: 10px 12px;
	padding-bottom: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 4px 0px #ddd;
}
ul, ol {
	margin: 8px 0px;
	padding: 0px;
	padding-left: 24px;
}
dl {
	margin: 8px 0px;
	padding: 0px;
}
dt {
	font-weight: bold;
	margin-top: 8px;
}
dd {
	margin-left: 24px;
}
dl.code dt {
	font-weight: normal;
	color: #000;
}

code, pre, tt {
	font-family: 'Inconsolata', Consolas, Monaco, monospace;
	color: #555;
}
a code {
	color: inherit;
}
pre {
	line-height: 1.25;
	padding: 8px 12px;
	margin: 16px 0px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 4px 0px #ddd;
	overflow-x: auto;
}
span.name {
	font-weight: bold;
	color: #000;
}


table {
	width: 100%;
	font: inherit;
	border-collapse: collapse;
	margin-top: 16px;
	margin-bottom: 16px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 4px 0px #ddd;
}
td, th {
	text-align: left;
	vertical-align: top;
	padding: 4px 12px;
	border: none;
}
tr:nth-child(even) {
	background-color: #f5f5f5;
}
tr:nth-child(odd) {
	background-color: #f9f9f9;
}
tr:hover {
	background-color: #f0f0f0;
}
td.mods, th.mods {
	width: 0;
	white-space: nowrap;
}
tr.inherited {
	color: #bbb;
}
tr.inherited:nth-child(even) {
	background-color: #fff;
}
tr.inherited:nth-child(odd) {
	background-color: #fff;
}
tr.inherited:hover {
	background-color: #fbfbfb;
}
tr.sep td {
	border-top: 1px solid #bbb;
}
tr.toggle {
	color: #000;
	font-size: 9pt;
	cursor: pointer;
}
tr.toggle td {
	text-align: right;
	padding: 8px 12px;
}
tr.hide {
	display: none;
}
th {
	background-color: #fff;
	border-bottom: 1px solid #bbb;
}

hr {
	border: none;
	border-bottom: 1px solid #bbb;
	margin: 20px -40px;
}
